#poruka{
    opacity: 0;
    font-size: 0.6em;
    margin-top: 1.2rem;
    color: yellow;
}
body{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}